<div id="app">
    <h1>{{ greeting }}</h1>
    <ul>
        <li v-for="animal in animals">
            {{ animal }}
        </li>
    </ul>
</div>

<script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';


    createApp({
        data() {
            return {
                greeting: 'Well hello, Bryan!',
                animals: []
            }
        },
        
        async mounted() {
            // GET request using fetch with async/await
            const response = await fetch("/api/animals");
            const data = await response.json();
            this.animals = data;
        }

    }).mount('#app')

</script>